<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--https://github.com/eugenp/tutorials/blob/master/spring-web-modules/spring-thymeleaf-5/src/main/webapp/WEB-INF/views/listBooks.html-->
<style>
    div.inline {
        color: black;
        float: none;
        padding: 5px 5px;
        display: inline-block;
    }

    div.inline a.active {
        background-color: #FBD603;
        border: 1px solid darkred;
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>Candidates with pagination</title>
    <meta charset="UTF-8">
    <title>Candidates</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="display: block;justify-content: center;align-items: center; padding: 50px">
<div style="margin-left: 25%;width: 50%; justify-content: center;align-items: center ;padding: 20px;margin-top: 50px;margin-bottom: 30px; border: 1px black solid; border-radius: 20px">
    <h3 style="text-align: center;color: red" ><span  th:utext="${jobs.getCompany().getCompName()}"></span></h3>
    <h5 >About: <span  th:utext="${jobs.getCompany().getAbout()}"></span></h5>
    <h5 >Email: <span  th:utext="${jobs.getCompany().getEmail()}"></span></h5>
    <h5 >Phone: <span  th:utext="${jobs.getCompany().getPhone()}"></span></h5>
    <h5 >Address: <span th:utext="${jobs.getCompany().getAddress()}"></span></h5>
    <h5 >Web: <a th:href="${jobs.getCompany().getWebURL()}" th:utext="${jobs.getCompany().getWebURL()}"></a></h5>
    <h5 >Job: <span th:utext="${jobs.getJobName()}"></span></h5>
    <h5>Skill require: </h5>
    <ul th:each="jobskill,state:${jobs.getJobSkills()}">
        <li> <span th:utext="${jobskill.getSkill().getSkillName()}"></span>
            <ul>
                <li>Info: <span th:utext="${jobskill.getMoreInfos()}"></span></li>
                <li>Level: <span th:utext="${jobskill.getSkillLevel()}"></span></li>
            </ul>
        </li>
    </ul>

</div>
<h1>Gợi ý Candidate: </h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Skills</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="candidate,state:${listCandidate}">
        <th th:utext="${state.count}"></th>
        <th th:utext="${candidate.getFullName()}"></th>
        <th th:utext="${candidate.getDod()}"></th>
        <th th:utext="${candidate.getPhone()}"></th>
        <th th:utext="${candidate.getEmail()}"></th>
        <th th:utext="${candidate.getAddress()}"></th>
        <th><a th:href="@{/CandidateController/ShowMore/{id}(id=${candidate.getId()})}">show more...</a></th>
    </tr>
    </tbody>
</table>
</body>
</html>